.form {
  max-width: 500px;
  margin: 20px auto;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid black;
}

.form-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: .5px solid rgb(127, 81, 170);
  margin-bottom: 10px;
  background-color: beige;
}